# Docker-gen generated items
{{ $currentContainer := where $ "ID" .Docker.CurrentContainerID | first }}

{{ range $container := . }}
    {{ if and (ne $currentContainer.ID $container.ID) ($container.Env.VIRTUAL_HOST) }}
        {{ if $currentContainer.Env.FORCE_IP }}
{{ $currentContainer.Env.FORCE_IP }}   {{ $container.Env.VIRTUAL_HOST }}
        {{ else }}
127.0.0.1   {{ $container.Env.VIRTUAL_HOST }}
        {{ end }}
    {{end}}
{{end}}
